In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('./LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1, engine='python')[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [6]:
new_df = df.copy()
new_df['loan_status'] = new_df['loan_status'].map({'low_risk': 0, 'high_risk': 1})

In [7]:
new_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,0,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,0,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,0,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,0,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,0,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [8]:
newer_df = pd.get_dummies(new_df)
newer_df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,0,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,0,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,0,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,0,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,0,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

# Split the Data into Training and Testing

In [9]:
# Create our features
X = newer_df.drop(columns= 'loan_status')

# Create our target
y = newer_df['loan_status'].ravel()

In [10]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [11]:
# Check the balance of our target values
np.unique(y, return_counts=True)
len(list(X.columns))

95

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78,)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [13]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)
rf_model = rf_model.fit(X_train, y_train)

In [14]:
# Calculated the balanced accuracy score
y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7610766287515975

In [15]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[15632,  1481],
       [   36,    56]])

In [16]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.91      0.61      0.95      0.75      0.57     17113
          1       0.04      0.61      0.91      0.07      0.75      0.54        92

avg / total       0.99      0.91      0.61      0.95      0.75      0.57     17205

In [17]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07517094240775271, 'total_rec_prncp'),
 (0.07249032588228424, 'last_pymnt_amnt'),
 (0.06416726716977576, 'total_pymnt'),
 (0.05604199999358881, 'total_pymnt_inv'),
 (0.04468686066011388, 'total_rec_int'),
 (0.028568944346055156, 'int_rate'),
 (0.025027154756420214, 'issue_d_Jan-2019'),
 (0.017869260159511204, 'out_prncp'),
 (0.016110941288125975, 'annual_inc'),
 (0.016058429701794052, 'installment'),
 (0.015530991634570243, 'bc_util'),
 (0.015080056828911649, 'dti'),
 (0.014732989597704853, 'mo_sin_old_rev_tl_op'),
 (0.014636037612825127, 'total_bc_limit'),
 (0.014385985736451347, 'bc_open_to_buy'),
 (0.014267489844910842, 'revol_bal'),
 (0.014124947283303223, 'avg_cur_bal'),
 (0.013723051248153303, 'mths_since_recent_inq'),
 (0.013682734105270072, 'il_util'),
 (0.013636913479169012, 'max_bal_bc'),
 (0.013597767626560859, 'tot_hi_cred_lim'),
 (0.013529375890806014, 'out_prncp_inv'),
 (0.013341822661610577, 'total_bal_ex_mort'),
 (0.013267985689557896, 'total_rev_hi_lim'),
 (0.013226781326942242, 'tot_cur_bal'),
 (0.013083970193834801, 'mo_sin_old_il_acct'),
 (0.012985710447043447, 'loan_amnt'),
 (0.012199729316965632, 'total_bal_il'),
 (0.012157627227494434, 'issue_d_Mar-2019'),
 (0.01151475136086541, 'all_util'),
 (0.010971862626851889, 'num_rev_accts'),
 (0.010970893415071037, 'total_acc'),
 (0.010959938370440046, 'total_il_high_credit_limit'),
 (0.010624467923418078, 'inq_last_6mths'),
 (0.010180389794274033, 'inq_last_12m'),
 (0.010123884845216586, 'mths_since_recent_bc'),
 (0.009780918678912561, 'pct_tl_nvr_dlq'),
 (0.009780201753184782, 'mths_since_rcnt_il'),
 (0.009773163959788543, 'mo_sin_rcnt_rev_tl_op'),
 (0.009703420722480439, 'mo_sin_rcnt_tl'),
 (0.009516247495761692, 'num_op_rev_tl'),
 (0.008996106397235347, 'num_tl_op_past_12m'),
 (0.008956819226781649, 'num_bc_tl'),
 (0.008598578574971153, 'num_actv_bc_tl'),
 (0.008199538486130496, 'open_acc'),
 (0.008067921476527407, 'num_actv_rev_tl'),
 (0.008040254294399814, 'num_sats'),
 (0.007899223474027455, 'num_il_tl'),
 (0.00774232801363204, 'acc_open_past_24mths'),
 (0.007704499578862899, 'num_bc_sats'),
 (0.007504325121309498, 'percent_bc_gt_75'),
 (0.007456451648341642, 'mort_acc'),
 (0.007430428994727906, 'total_rec_late_fee'),
 (0.00731403836253153, 'total_cu_tl'),
 (0.0072854663215592315, 'open_il_24m'),
 (0.007125996159066227, 'inq_fi'),
 (0.007037004843329992, 'num_rev_tl_bal_gt_0'),
 (0.0070238046276006275, 'open_rv_24m'),
 (0.005971396536388906, 'open_act_il'),
 (0.004935663938323196, 'open_il_12m'),
 (0.004829349605049116, 'open_rv_12m'),
 (0.004649270650748804, 'next_pymnt_d_Apr-2019'),
 (0.004452201310015149, 'next_pymnt_d_May-2019'),
 (0.004287778269867255, 'delinq_2yrs'),
 (0.004217991964910771, 'open_acc_6m'),
 (0.003931641594944184, 'issue_d_Feb-2019'),
 (0.003911463610540092, 'num_accts_ever_120_pd'),
 (0.0032197010362689854, 'tot_coll_amt'),
 (0.0027525810215069876, 'verification_status_Not Verified'),
 (0.0025983041352796573, 'application_type_Joint App'),
 (0.0022818468268760656, 'home_ownership_MORTGAGE'),
 (0.002087834601298882, 'verification_status_Verified'),
 (0.001685197382256768, 'application_type_Individual'),
 (0.0015524389242173124, 'verification_status_Source Verified'),
 (0.0015097514998275317, 'pub_rec'),
 (0.0015055994463262553, 'home_ownership_OWN'),
 (0.0013801548293349603, 'home_ownership_RENT'),
 (0.0011184892209521987, 'initial_list_status_w'),
 (0.0009844438670826904, 'pub_rec_bankruptcies'),
 (0.0008720342126112365, 'num_tl_90g_dpd_24m'),
 (0.0006713146384285206, 'initial_list_status_f'),
 (0.00038987311685825896, 'home_ownership_ANY'),
 (0.0003428094665639861, 'collections_12_mths_ex_med'),
 (0.0001938476287148256, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [18]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators=100,random_state=78)
ee_model = ee_model.fit(X_train, y_train)

In [19]:
# Calculated the balanced accuracy score
y_pred = ee_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.928093376761628

In [20]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[15954,  1159],
       [    7,    85]])

In [21]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.93      0.92      0.96      0.93      0.86     17113
          1       0.07      0.92      0.93      0.13      0.93      0.86        92

avg / total       0.99      0.93      0.92      0.96      0.93      0.86     17205